* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  header {
    font-family: sans-serif;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    padding: 0 50px 0 50px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    nav {
        width: 50%;
        height: 100%;
        padding-left: 10px;
        display: flex;
         flex-direction: row;
          justify-content: space-between;
         align-items: center;
         .nav {
            height: 50px;
            width: 60px;
            display: flex;
             justify-content: center;
            align-items: center;
         }
    a {
        text-decoration: none;
        color: gray;
        font-size: 17px;
        font-weight: 500;
    }
    .home {
        border-bottom: 3px solid red;
    }
    .hire {
        background-color: red;
        height: 40px;
        width:150px;
        border: none;
        border-bottom-right-radius: 10px;
        a {
            color: #fff;
            text-decoration: none;
            font-size: 17px;
            font-weight: 500;
        }
    }
}
  }
  main {
    font-family: sans-serif;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    .section1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    padding: 50px;
    .section1-right {
     position: relative;
     width: 40%;
     height: 100%;
     display: flex;
     flex-direction: column;
     justify-content: flex-end;
     align-items: center;
     .pic1 {
        max-width: 400px;
        max-height: 500px;
    }
    .line1 {
        width: 250px;
        height: 50px;
        position: absolute;
        bottom: 150px;
        right: -79px;
    }
    }
    .section1-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 60%;
    height: 100%;
    position: relative;
    padding: 0 0 100px 0;
    .vetted {
        font-weight: 900;
        font-size: 38px;
        padding-top: -100px; 
        width: fit-content;
        color: black;
        padding: 0 0 30px 0;
        .red {
            color: red;
        }
    }
    .thick-line {
        position: absolute;
        top: 45%;
        left: 65%;
    }
    .at-zuri {
        font-size: 20px;
        color: gray;
        width: 60%;
    }

    .buttons {
     padding: 30px 0 0 0; 
     font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    .hire-talent {
        width: 42%;
        height: 40px;
        background-color: red;
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        padding-top: 10px;
        border: none;
        border-bottom-right-radius: 10px;
    }
    .hire-talent:hover {
        box-shadow: 2px 2px 20px silver;
    }
    .join-the-pool {
        width: 55%;
        height: 40px;
        background-color: gray;
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        padding-top: 10px;
        border: none;
        border-bottom-right-radius: 10px; 
    }
    .join-the-pool:hover {
        box-shadow: 2px 2px 30px silver;
    }
    }
    }
  }
  .section2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 50px;
    background-color: rgb(243, 221, 221);
    .section2-right {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
        img {
            width: 80%;
            height: 80%;
        }
    }
    .section2-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start; 
        width: 50%;
        height: 100%;
        .impact {
        font-weight: 900;
        font-size: 38px;
        padding-top: -100px; 
        span {
            color: red;
        }
        }
        .trained {
        font-weight: 700;
         font-size: 20px;
         margin-top: 10px;
        }
        .talent {
            font-size: 20px;
            color: gray;
            margin-top: 10px;
        }
        .countries {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: flex-start; 
            width: 450px;
            height: 70px;
            margin-top: 20px;
            .country {
                display: flex;
                justify-content: center;
                align-items: center; 
                border: none;
                border-radius: 10px;
                width: 80px;
                height: 70px;
                background-color:whitesmoke;
            }
        }
    }
  }
  .section3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: white;
    width: 100%;
    height: 100vh;
    padding: 50px;
    position: relative;
    img {
        position: absolute;
       top: 32%;
       right: 0;
    }
    .skill {
        font-weight: 900;
        font-size: 40px;
        width: 600px;
        span {
            color: red;
        }
    }
    .skills {
        width: 90%;
        height: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .techies {
        width: 250px;
        height: 50px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 10px;
        color: gray;
        font-weight: 400;
        font-size: 20px;
        box-shadow: 5px 5px 30px silver;
        transition: width 0.5s, height 0.5s;
    }
    .techies:hover {
       width: 255px;
       height: 55px;
    }
    .github {
        width: 100px;
        height: 50px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 10px;
        color: gray;
        font-weight: 400;
        font-size: 20px;
        box-shadow: 5px 5px 30px silver;
        transition: width 0.5s, height 0.5s;
    }
    .github:hover {
        width: 105px;
        height: 55px;
    }
    .microsoft {
        width: 150px;
        height: 50px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 10px;
        color: gray;
        font-weight: 400;
        font-size: 20px;
        box-shadow: 5px 5px 30px silver;
        transition: width 0.5s, height 0.5s;
    }
    .microsoft:hover {
        width: 155px;
        height: 55px;
    }
    .reskill {
        width: 200px;
        height: 50px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 10px;
        color: gray;
        font-weight: 400;
        font-size: 20px;
        box-shadow: 5px 5px 30px silver;
        transition: width 0.5s, height 0.5s;
    }
    .reskill:hover {
        width: 195px;
       height: 55px;
    }
    .flutter {
        width: 150px;
        height: 50px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 10px;
        color: gray;
        font-weight: 400;
        font-size: 20px;
        box-shadow: 5px 5px 30px silver;
        transition: width 0.5s, height 0.5s;
    }
    .flutter:hover {
        width: 155px;
        height: 55px;
    }
    .google {
        width: 100px;
        height: 50px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 10px;
        color: gray;
        font-weight: 400;
        font-size: 20px;
        box-shadow: 5px 5px 30px silver;
        transition: width 0.5s, height 0.5s;
    }
    .google:hover {
        width: 95px;
       height: 55px;
    }
    .carrier {
        width: 250px;
        height: 50px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 10px;
        color: gray;
        font-weight: 400;
        font-size: 20px;
        box-shadow: 5px 5px 30px silver;
        transition: width 0.5s, height 0.5s;
    }
    .carrier:hover {
        width: 255px;
       height: 55px;
    }
    }
}
.section4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(253, 237, 216);
    width: 100%;
    height: 155vh;
    padding: 50px;
    #section {
    text-align: center;
    font-weight: 900;
    font-size: 40px;
    padding: 50px;
    .red {
        color: red;
    }
    }
    .row1-section4 {
        width: 90%;
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 15px;
        padding: 30px;
        .grid-item {
            width: 355px;
            height: 285px;
            font-size: 18px;
            font-weight: 300;
            color: gray;
            background-color: #fff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 50px;
            border: none;
            border-bottom-right-radius: 20px;
            img {
                padding-bottom: 30px;
            }
        }
        .grid-item:hover {
            background-color: black;
            color: #fff;
        }
    } 
    .row2-section4 {
        width: 59%;
        display: grid;
        grid-template-columns: auto auto;
        gap: 15px;
        margin: 0 auto;
        .grid2 {
            width: 370px;
            height: 285px;
            font-size: 18px;
            font-weight: 300;
            color: gray;
            background-color: #fff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 20px;
            border-bottom-right-radius: 20px;
            img {
                padding-bottom: 30px;
            }
        }
        .grid2:hover {
            background-color: black;
            color: #fff;
        }
    }
        .buttons2 {
           padding: 50px; 
           font-size: 20px;
           display: flex;
           flex-direction: row;
           justify-content: space-between;
           align-items: center;
           width: 40%;
           height: fit-content;
           color: #fff;
           .hire_talent {
               width: 42%;
               height: 50px;
               background-color: red;
               font-size: 18px;
               font-weight: 500;
               text-align: center;
               padding-top: 15px;
               border: none;
               border-bottom-right-radius: 10px;
           }
           .join_the_pool {
               width: 55%;
               height: 50px;
               background-color: gray;
               font-size: 18px;
               font-weight: 500;
               text-align: center;
               padding-top: 15px;
               border: none;
               border-bottom-right-radius: 10px; 
           }
    }
  }
footer {
    background-color: black;
    width: 100%;
    height: 200px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    padding: 70px 50px 30px 50px;
  .section5-top {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center; 
        width: 180px;
        height: fit-content; 
        img {
            width: 35px;
            height: 35px;
        }
        .twitter {
            width: 35px;
            height: 35px;
        }
    }
  }
  .section5-bottom {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center; 
        color: #fff;
        font-weight: 500;
        margin-top: 50px;
        .c-rgt {
            font-size: 20px;
        }
            p {
               
                font-size: 16px;
            }
  }

}
}
