* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  font-family: sans-serif;
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  padding: 0 50px 0 50px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}
header nav {
  width: 50%;
  height: 100%;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header nav .nav {
  height: 50px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav a {
  text-decoration: none;
  color: gray;
  font-size: 17px;
  font-weight: 500;
}
header nav .home {
  border-bottom: 3px solid red;
}
header nav .hire {
  background-color: red;
  height: 40px;
  width: 150px;
  border: none;
  border-bottom-right-radius: 10px;
}
header nav .hire a {
  color: #fff;
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
}

main {
  font-family: sans-serif;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
}
main .section1 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding-top: 100px;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  padding: 50px;
}
main .section1 .section1-right {
  position: relative;
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
main .section1 .section1-right .pic1 {
  max-width: 400px;
  max-height: 500px;
}
main .section1 .section1-right .line1 {
  width: 250px;
  height: 50px;
  position: absolute;
  bottom: 150px;
  right: -79px;
}
main .section1 .section1-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 60%;
  height: 100%;
  position: relative;
  padding: 0 0 100px 0;
}
main .section1 .section1-left .vetted {
  font-weight: 900;
  font-size: 38px;
  padding-top: -100px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: black;
  padding: 0 0 30px 0;
}
main .section1 .section1-left .vetted .red {
  color: red;
}
main .section1 .section1-left .thick-line {
  position: absolute;
  top: 45%;
  left: 65%;
}
main .section1 .section1-left .at-zuri {
  font-size: 20px;
  color: gray;
  width: 60%;
}
main .section1 .section1-left .buttons {
  padding: 30px 0 0 0;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}
main .section1 .section1-left .buttons .hire-talent {
  width: 42%;
  height: 40px;
  background-color: red;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  padding-top: 10px;
  border: none;
  border-bottom-right-radius: 10px;
}
main .section1 .section1-left .buttons .hire-talent:hover {
  box-shadow: 2px 2px 20px silver;
}
main .section1 .section1-left .buttons .join-the-pool {
  width: 55%;
  height: 40px;
  background-color: gray;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  padding-top: 10px;
  border: none;
  border-bottom-right-radius: 10px;
}
main .section1 .section1-left .buttons .join-the-pool:hover {
  box-shadow: 2px 2px 30px silver;
}
main .section2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 50px;
  background-color: rgb(243, 221, 221);
}
main .section2 .section2-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}
main .section2 .section2-right img {
  width: 80%;
  height: 80%;
}
main .section2 .section2-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  height: 100%;
}
main .section2 .section2-left .impact {
  font-weight: 900;
  font-size: 38px;
  padding-top: -100px;
}
main .section2 .section2-left .impact span {
  color: red;
}
main .section2 .section2-left .trained {
  font-weight: 700;
  font-size: 20px;
  margin-top: 10px;
}
main .section2 .section2-left .talent {
  font-size: 20px;
  color: gray;
  margin-top: 10px;
}
main .section2 .section2-left .countries {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  width: 450px;
  height: 70px;
  margin-top: 20px;
}
main .section2 .section2-left .countries .country {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  width: 80px;
  height: 70px;
  background-color: whitesmoke;
}
main .section3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: white;
  width: 100%;
  height: 100vh;
  padding: 50px;
  position: relative;
}
main .section3 img {
  position: absolute;
  top: 32%;
  right: 0;
}
main .section3 .skill {
  font-weight: 900;
  font-size: 40px;
  width: 600px;
}
main .section3 .skill span {
  color: red;
}
main .section3 .skills {
  width: 90%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
main .section3 .skills .techies {
  width: 250px;
  height: 50px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  color: gray;
  font-weight: 400;
  font-size: 20px;
  box-shadow: 5px 5px 30px silver;
  transition: width 0.5s, height 0.5s;
}
main .section3 .skills .techies:hover {
  width: 255px;
  height: 55px;
}
main .section3 .skills .github {
  width: 100px;
  height: 50px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  color: gray;
  font-weight: 400;
  font-size: 20px;
  box-shadow: 5px 5px 30px silver;
  transition: width 0.5s, height 0.5s;
}
main .section3 .skills .github:hover {
  width: 105px;
  height: 55px;
}
main .section3 .skills .microsoft {
  width: 150px;
  height: 50px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  color: gray;
  font-weight: 400;
  font-size: 20px;
  box-shadow: 5px 5px 30px silver;
  transition: width 0.5s, height 0.5s;
}
main .section3 .skills .microsoft:hover {
  width: 155px;
  height: 55px;
}
main .section3 .skills .reskill {
  width: 200px;
  height: 50px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  color: gray;
  font-weight: 400;
  font-size: 20px;
  box-shadow: 5px 5px 30px silver;
  transition: width 0.5s, height 0.5s;
}
main .section3 .skills .reskill:hover {
  width: 195px;
  height: 55px;
}
main .section3 .skills .flutter {
  width: 150px;
  height: 50px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  color: gray;
  font-weight: 400;
  font-size: 20px;
  box-shadow: 5px 5px 30px silver;
  transition: width 0.5s, height 0.5s;
}
main .section3 .skills .flutter:hover {
  width: 155px;
  height: 55px;
}
main .section3 .skills .google {
  width: 100px;
  height: 50px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  color: gray;
  font-weight: 400;
  font-size: 20px;
  box-shadow: 5px 5px 30px silver;
  transition: width 0.5s, height 0.5s;
}
main .section3 .skills .google:hover {
  width: 95px;
  height: 55px;
}
main .section3 .skills .carrier {
  width: 250px;
  height: 50px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  color: gray;
  font-weight: 400;
  font-size: 20px;
  box-shadow: 5px 5px 30px silver;
  transition: width 0.5s, height 0.5s;
}
main .section3 .skills .carrier:hover {
  width: 255px;
  height: 55px;
}
main .section4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(253, 237, 216);
  width: 100%;
  height: 155vh;
  padding: 50px;
}
main .section4 #section {
  text-align: center;
  font-weight: 900;
  font-size: 40px;
  padding: 50px;
}
main .section4 #section .red {
  color: red;
}
main .section4 .row1-section4 {
  width: 90%;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 15px;
  padding: 30px;
}
main .section4 .row1-section4 .grid-item {
  width: 355px;
  height: 285px;
  font-size: 18px;
  font-weight: 300;
  color: gray;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  border: none;
  border-bottom-right-radius: 20px;
}
main .section4 .row1-section4 .grid-item img {
  padding-bottom: 30px;
}
main .section4 .row1-section4 .grid-item:hover {
  background-color: black;
  color: #fff;
}
main .section4 .row2-section4 {
  width: 59%;
  display: grid;
  grid-template-columns: auto auto;
  gap: 15px;
  margin: 0 auto;
}
main .section4 .row2-section4 .grid2 {
  width: 370px;
  height: 285px;
  font-size: 18px;
  font-weight: 300;
  color: gray;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-bottom-right-radius: 20px;
}
main .section4 .row2-section4 .grid2 img {
  padding-bottom: 30px;
}
main .section4 .row2-section4 .grid2:hover {
  background-color: black;
  color: #fff;
}
main .section4 .buttons2 {
  padding: 50px;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: #fff;
}
main .section4 .buttons2 .hire_talent {
  width: 42%;
  height: 50px;
  background-color: red;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  padding-top: 15px;
  border: none;
  border-bottom-right-radius: 10px;
}
main .section4 .buttons2 .join_the_pool {
  width: 55%;
  height: 50px;
  background-color: gray;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  padding-top: 15px;
  border: none;
  border-bottom-right-radius: 10px;
}
main footer {
  background-color: black;
  width: 100%;
  height: 200px;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  padding: 70px 50px 30px 50px;
}
main footer .section5-top {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
main footer .section5-top div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 180px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
main footer .section5-top div img {
  width: 35px;
  height: 35px;
}
main footer .section5-top div .twitter {
  width: 35px;
  height: 35px;
}
main footer .section5-bottom {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-weight: 500;
  margin-top: 50px;
}
main footer .section5-bottom .c-rgt {
  font-size: 20px;
}
main footer .section5-bottom p {
  font-size: 16px;
}/*# sourceMappingURL=i-need-industry-experience.css.map */